<header>
  <div class="header">
  <div class="top-banner" >

    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        
        <a class="navbar-brand" href="/{{ page.language }}/"><div class="banner-icon"></div>Annalí Casanueva Artís</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            {% for navlink in site.data.nav %}
            <li class="nav-item"> <a class="nav-link" href="/{{ page.language }}{{ navlink.path }}">{{ navlink.name[page.language] }}</a> </li>
            {% endfor %}
              
          </ul>
        </div>
      </div>
    </nav>

  </div>
  </div>
</header>
